IndexIgnore .htaccess */.??* *~ *# */HEADER* */README* all_ordered.rnc all_unordered.rnc local.prepend.php php-cli.ini phpinfo.php schema_rnc.php schema_rnc_test.php error_log
Redirect /1.02/relaxng/bindatagroundfact_normal.rnc http://deliberation.ruleml.org/1.02/myng-b01-d7-a2-l1-pfcf-i06-tf0f-q1-e0-s4c.rnc
Redirect /1.02/relaxng/bindatagroundfact_relaxed.rnc http://deliberation.ruleml.org/1.02/myng-b01-d7-a2-l1-pfcf-i06-tf0f-q1-e0-s4f.rnc
Redirect /1.02/relaxng/bindatagroundlog_normal.rnc http://deliberation.ruleml.org/1.02/myng-b03-d7-a2-l1-pfcf-i07-tf0f-q1-e0-s4c.rnc
Redirect /1.02/relaxng/bindatagroundlog_relaxed.rnc http://deliberation.ruleml.org/1.02/myng-b03-d7-a2-l1-pfcf-i07-tf0f-q1-e0-s4f.rnc
Redirect /1.02/relaxng/bindatalog_normal.rnc http://deliberation.ruleml.org/1.02/myng-b07-d7-a2-l1-pfcf-i07-tf0f-q3-e0-s4c.rnc
Redirect /1.02/relaxng/bindatalog_relaxed.rnc http://deliberation.ruleml.org/1.02/myng-b07-d7-a2-l1-pfcf-i07-tf0f-q3-e0-s4f.rnc
Redirect /1.02/relaxng/datalog_min_normal.rnc http://deliberation.ruleml.org/1.02/myng-b07-d7-a7-l1-pc01-i00-t200-q0-e0-sc.rnc
Redirect /1.02/relaxng/datalog_min_relaxed.rnc http://deliberation.ruleml.org/1.02/myng-b07-d7-a7-l1-pc01-i00-t200-q0-e0-sf.rnc
Redirect /1.02/relaxng/disdatalog_min_normal.rnc http://deliberation.ruleml.org/1.02/myng-b07-d7-a7-l1-pc01-i38-t200-q0-e0-sc.rnc
Redirect /1.02/relaxng/disdatalog_min_relaxed.rnc http://deliberation.ruleml.org/1.02/myng-b07-d7-a7-l1-pc01-i38-t200-q0-e0-sf.rnc
Redirect /1.02/relaxng/datalog_normal.rnc http://deliberation.ruleml.org/1.02/myng-b07-d7-a7-l1-pfcf-i07-tf0f-q7-e0-s4c.rnc
Redirect /1.02/relaxng/datalog_relaxed.rnc http://deliberation.ruleml.org/1.02/myng-b07-d7-a7-l1-pfcf-i07-tf0f-q7-e0-s4f.rnc
Redirect /1.02/relaxng/datalogplus_min_normal.rnc http://deliberation.ruleml.org/1.02/myng-b07-d7-a7-l1-pc01-i58-t210-q0-e0-sc.rnc
Redirect /1.02/relaxng/datalogplus_min_relaxed.rnc http://deliberation.ruleml.org/1.02/myng-b07-d7-a7-l1-pc01-i58-t210-q0-e0-sf.rnc
Redirect /1.02/relaxng/disdatalogplus_min_normal.rnc http://deliberation.ruleml.org/1.02/myng-b07-d7-a7-l1-pc01-i78-t210-q0-e0-sc.rnc
Redirect /1.02/relaxng/disdatalogplus_min_relaxed.rnc http://deliberation.ruleml.org/1.02/myng-b07-d7-a7-l1-pc01-i78-t210-q0-e0-sf.rnc
Redirect /1.02/relaxng/datalogplus_mid_normal.rnc http://deliberation.ruleml.org/1.02/myng-b07-d7-a7-l1-pfc1-i5e-tf30-q0-e0-sc.rnc
Redirect /1.02/relaxng/datalogplus_mid_relaxed.rnc http://deliberation.ruleml.org/1.02/myng-b07-d7-a7-l1-pfc1-i5e-tf30-q0-e0-sf.rnc
Redirect /1.02/relaxng/disdatalogplus_mid_normal.rnc http://deliberation.ruleml.org/1.02/myng-b07-d7-a7-l1-pfc1-i7e-tf30-q0-e0-sc.rnc
Redirect /1.02/relaxng/disdatalogplus_mid_relaxed.rnc http://deliberation.ruleml.org/1.02/myng-b07-d7-a7-l1-pfc1-i7e-tf30-q0-e0-sf.rnc
Redirect /1.02/relaxng/nafdatalog_normal.rnc http://deliberation.ruleml.org/1.02/myng-b07-d7-a7-l1-pfef-i07-tf0f-q1-e0-s4c.rnc
Redirect /1.02/relaxng/nafdatalog_relaxed.rnc http://deliberation.ruleml.org/1.02/myng-b07-d7-a7-l1-pfef-i07-tf0f-q1-e0-s4f.rnc
Redirect /1.02/relaxng/negdatalog_normal.rnc http://deliberation.ruleml.org/1.02/myng-b07-d7-a7-l1-pfdf-i07-tf0f-q1-e0-s4c.rnc
Redirect /1.02/relaxng/negdatalog_relaxed.rnc http://deliberation.ruleml.org/1.02/myng-b07-d7-a7-l1-pfdf-i07-tf0f-q1-e0-s4f.rnc
Redirect /1.02/relaxng/nafnegdatalog_normal.rnc http://deliberation.ruleml.org/1.02/myng-b07-d7-a7-l1-pfff-i07-tf0f-q1-e0-s4c.rnc
Redirect /1.02/relaxng/nafnegdatalog_relaxed.rnc http://deliberation.ruleml.org/1.02/myng-b07-d7-a7-l1-pfff-i07-tf0f-q1-e0-s4f.rnc
Redirect /1.02/relaxng/nafnegdisdatalogplus_normal.rnc http://deliberation.ruleml.org/1.02/myng-b07-d7-a7-l1-pfff-i7f-tf3f-q1-e0-s4c.rnc
Redirect /1.02/relaxng/nafnegdisdatalogplus_relaxed.rnc http://deliberation.ruleml.org/1.02/myng-b07-d7-a7-l1-pfff-i7f-tf3f-q1-e0-s4f.rnc
Redirect /1.02/relaxng/hornlog_normal.rnc http://deliberation.ruleml.org/1.02/myng-b0f-d7-a7-l1-pfcf-i07-tf0f-q7-e3-s4c.rnc
Redirect /1.02/relaxng/hornlog_relaxed.rnc http://deliberation.ruleml.org/1.02/myng-b0f-d7-a7-l1-pfcf-i07-tf0f-q7-e3-s4f.rnc
Redirect /1.02/relaxng/hornlogeq_normal.rnc http://deliberation.ruleml.org/1.02/myng-b0f-d7-a7-l1-pfcf-i07-tf3f-q7-ef-s4c.rnc
Redirect /1.02/relaxng/hornlogeq_relaxed.rnc http://deliberation.ruleml.org/1.02/myng-b0f-d7-a7-l1-pfcf-i07-tf3f-q7-ef-s4f.rnc
Redirect /1.02/relaxng/dishornlog_normal.rnc http://deliberation.ruleml.org/1.02/myng-b1f-d7-a7-l1-pfcf-i3f-tf0f-q7-e3-s4c.rnc
Redirect /1.02/relaxng/dishornlog_relaxed.rnc http://deliberation.ruleml.org/1.02/myng-b1f-d7-a7-l1-pfcf-i3f-tf0f-q7-e3-s4f.rnc
Redirect /1.02/relaxng/nafhornlog_normal.rnc http://deliberation.ruleml.org/1.02/myng-b0f-d7-a7-l1-pfef-i07-tf0f-q7-e3-s4c.rnc
Redirect /1.02/relaxng/nafhornlog_relaxed.rnc http://deliberation.ruleml.org/1.02/myng-b0f-d7-a7-l1-pfef-i07-tf0f-q7-e3-s4f.rnc
Redirect /1.02/relaxng/nafneghornlogeq_normal.rnc http://deliberation.ruleml.org/1.02/myng-b0f-d7-a7-l1-pfff-i07-tf3f-q7-ef-s4c.rnc
Redirect /1.02/relaxng/nafneghornlogeq_relaxed.rnc http://deliberation.ruleml.org/1.02/myng-b0f-d7-a7-l1-pfff-i07-tf3f-q7-ef-s4f.rnc
Redirect /1.02/relaxng/nafnegdishornlogplus_normal.rnc http://deliberation.ruleml.org/1.02/myng-b1f-d7-a7-l1-pfff-i7f-tf3f-q7-ef-s4c.rnc
Redirect /1.02/relaxng/nafnegdishornlogplus_relaxed.rnc http://deliberation.ruleml.org/1.02/myng-b1f-d7-a7-l1-pfff-i7f-tf3f-q7-ef-s4f.rnc
Redirect /1.02/relaxng/folog_normal.rnc http://deliberation.ruleml.org/1.02/myng-b3f-d7-a7-l1-pfdf-i7f-tf0f-q7-e3-s4c.rnc
Redirect /1.02/relaxng/folog_relaxed.rnc http://deliberation.ruleml.org/1.02/myng-b3f-d7-a7-l1-pfdf-i7f-tf0f-q7-e3-s4f.rnc
Redirect /1.02/relaxng/fologeq_normal.rnc http://deliberation.ruleml.org/1.02/myng-b3f-d7-a7-l1-pfdf-i7f-tf3f-q7-ef-s4c.rnc
Redirect /1.02/relaxng/fologeq_relaxed.rnc http://deliberation.ruleml.org/1.02/myng-b3f-d7-a7-l1-pfdf-i7f-tf3f-q7-ef-s4f.rnc
Redirect /1.02/relaxng/naffolog_normal.rnc http://deliberation.ruleml.org/1.02/myng-b3f-d7-a7-l1-pfff-i7f-tf0f-q7-e3-s4c.rnc
Redirect /1.02/relaxng/naffolog_relaxed.rnc http://deliberation.ruleml.org/1.02/myng-b3f-d7-a7-l1-pfff-i7f-tf0f-q7-e3-s4f.rnc
Redirect /1.02/relaxng/naffologeq_normal.rnc http://deliberation.ruleml.org/1.02/myng-b3f-d7-a7-l1-pfff-i7f-tf3f-q7-ef-s4c.rnc
Redirect /1.02/relaxng/naffologeq_relaxed.rnc http://deliberation.ruleml.org/1.02/myng-b3f-d7-a7-l1-pfff-i7f-tf3f-q7-ef-s4f.rnc
Redirect /1.02/relaxng/schema.rnc http://deliberation.ruleml.org/1.02/myng-b3f-d7-a7-l1-p3ff-i7f-tf3f-q7-ef-s4f.rnc
