/.project
/exa/Extensions/
/exa-archive/
/modal/
/xsd-expr/
/xsng/
/defeasible/
/rdfs/
/*/*.zip
/rsd/
/simplified/
/ruleml.js
/xslt/test/
/.DS_Store
/relaxng/error_log
datalog_min_normal.rnc
datalogeq_min_normal.rnc
datalogeqex_min_normal.rnc
datalogex_min4xsd.rnc
datalogex_min_normal.rnc
datalogplus_min_normal.rnc
datalogplus_min_relaxed.rnc
ncdatalog_min_normal.rnc
ncdatalog_min_relaxed.rnc
relaxng/*_min*
relaxng/unprop*
relaxng/tmp
relaxng/temp
xsd/org
xsd/auto-gen
myng.html
