/.project
/.DS_Store
designPattern/*.rnc
relaxng/error_log
relaxng/myng-b*
relaxng/test
relaxng/tmp
relaxng/temp
xsd/org
xsd_min
hornlogplus_min_normal.ruleml
naffologeq_normal_fordtd.rnc
relaxng.rnc
include_expansion_schema.rnc
relaxng/rnc4xsd
relaxng/rnc4xsd_min
batch_web2xsd2.sh
relaxng/rnc4simp
rdfa-xsd
usecases
test/normalizer-test-suites
test/rnc-test-suites/time-test-suite
test/compactifier-test-suites
bash/org
