/.project
/.DS_Store
designPattern/*.rnc
relaxng/error_log
relaxng/myng-b*
relaxng/test
relaxng/tmp
relaxng/temp
xsd/org
xsd_min
hornlogplus_min_normal.ruleml
naffologeq_normal_fordtd.rnc
relaxng.rnc
include_expansion_schema.rnc
relaxng/rnc4xsd
relaxng/rnc4xsd_min
