
AddDefaultCharset UTF-8
AddCharset UTF-8 .ruleml .rnc .rng .nvdl .xhtml .rdfs
AddType application/relax-ng-compact-syntax .rnc
AddType text/xml .ruleml
AddType application/rdf+xml .rdfs
AddType text/xhtml+xml .xhtml
AddType application/xml .nvdl .rng .sch

HeaderName HEADER.html
ReadmeName FOOTER.html

Redirect /1.02/rnc http://deliberation.ruleml.org/1.02/relaxng/schema_rnc.php
Redirect /1.02/gui http://deliberation.ruleml.org/1.02/myng
