AddDefaultCharset UTF-8
AddCharset UTF-8 .ruleml .rnc .rng .nvdl .xhtml .rdfs
AddType application/relax-ng-compact-syntax .rnc
AddType text/xml .ruleml
AddType application/rdf+xml .rdfs
AddType text/xhtml+xml .xhtml
AddType application/xml .nvdl .rng .sch
Redirect /1.01/rnc http://deliberation.ruleml.org/1.01/relaxng/schema_rnc.php
Redirect /1.01/gui http://deliberation.ruleml.org/1.01/myng

HeaderName HEADER.html
ReadmeName FOOTER.html