IndexOptions +SuppressIcon
IndexOptions +SuppressSize
IndexOptions +SuppressLastModified 
AddDescription "General normalizer" 1.02_normalizer.xslt
AddDescription "Normalizer for ordered con/disjuncts" 1.02_normalizer_indexed_AndOr.xslt
